<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Trump304App"
        android:allowBackup="true"
        android:label="Trump304"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trump304">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Trump304">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
